.mainContainer {
  flex: 7;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  overflow-y: auto;
  overflow-x: hidden;
}

.postsContainer {
  display: flex;
  flex-wrap: wrap;
}

.postContainer {
  margin: 10px;
  width: 313px;
  height: 450px;
  cursor: pointer;
}

.boxICOTextSection {
  padding: 15px 0px;
  color: antiquewhite;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.boxICODescriptionHolder {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-align: start;
}

.boxICOTitle {
  font-weight: 500;
  font-size: 21px;
}

.apLabel {
  align-self: center;
  color: #ffffff55;
  margin-top: -25px;
}

.topContainer {
  display: flex;
  flex-direction: row;
  position:absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
  background-color: rgb(22, 22, 22);
  overflow: hidden;
}

.pageText {
  margin-top: 5px;
  align-items: center;
  font-size: 12px;
  color: aliceblue;
}

.navigateContainer {
  display: flex;
  align-self: center;
  margin: 20px;
  width: 100px;
  justify-content: space-between;
}

.arrowRight {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  cursor: pointer;
  transform-origin: center center;
}

.arrowLeft {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  cursor: pointer;
  transform-origin: center center;
}

