.MuiFormLabel-root {
  color: rgb(90, 91, 95) !important;
}

.MuiFilledInput-input {
  color: #fff !important;
}

.MuiOutlinedInput-root {
  color: #fff !important;
}

.MuiIconButton-root {
  color: rgb(255, 255, 255, 54%) !important;
}

.publishMainContainer {
  flex: 7;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.publishInputContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: auto;
  width: 600px;
  padding: 50px;
}

.publishTitle {
  width: 100%;
  text-align: center;
  margin: 20px;
  font-size: 25px;
  color: antiquewhite;
}
